*{
    font-family: Helvetica, sans-serif
}

*{
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper{
    width: 70%;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    background-color: rgb(204, 0, 0);
    color: white;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

nav{
    width: 30%;
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(204, 0, 0);
    font-size: calc(1px + 1vw);
    text-align: center;
    list-style: none;
    padding-left: 0;
}

nav li{
    font-size: calc(1.5px + 1.5vw);
    width: 75%;
    background-color: mintcream;
    padding: 1vh;
    margin: 5vh auto;
}
nav a{
    text-decoration: none;
    color: darkred;
}
main{
    display: flex;
    flex-direction: column;
    width:70%;
    background-color: lightblue;
}

main p{
    margin: 0 1vw;
    font-size: calc(1.6px + 1.6vw);
}

#main{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2vh 2vw;
}

#main-title{
    margin: 1vw 0;
    text-align: center;
    font-size: calc(2px + 2vw);
    color: darkred;
}

#main-text{
    text-align: center;
    font-size: calc(0.5px + 1vw);
}

#bu_png{
    display: flex;
    flex-direction: row;
    width: 30%;
}
#edu-info{
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: calc(1.25px + 1.25vw);
}

.flex-container{
    display: flex;
    flex-direction: row;
}

.flex-container2{
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
}

#coursework{
    font-weight: bold;
}

ul{
    font-size: calc(1.25px + 1.25vw);
}

footer{
    text-align: center;
    background-color: lightgray;
    width: 100%;
    font-size: calc(1.25px + 1.25vw);
}


/* For screens smaller than 750px */
@media screen and (max-width: 750px){
    header{
        align-items: center;
    }
    #container {
        width: 100%;
        flex-direction: column;
        height: 100%
    }

    nav {
        width: 100%;
    }

    nav ul {
        background-color: rgb(204, 0, 0);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav li {
        background-color: mintcream;
        font-size: calc(1px + 1.6vw);
        padding: 1%;
        margin: 1% 2%;
    }

    main{
        padding-top: 1px;
        width: 100%;
    }

    main p{
        margin: 2% 2%;
        font-size: calc(3px + 3vw);
    }

    #main{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #main-text{
        align-self: center;
        width: 100%;
        margin: 1vh 1vw;
        font-size: calc(10px + 10vw);
    }

    #main-title{
        text-align: center;
        color: maroon;
    }

    footer{
        text-align: center;
        background-color: lightgray;
        width: 100%;
        font-size: calc(1.5px + 1.5vw);
    }
}



